$bgColor1: #1e3464;
$bgColor1Light: #385594;
$bgColor2: #2c8b7c;
$contBgColor: #f8f8fa;
$listBgColor: #f9f7f5;
$highlightBgColor: #e4e7f1;

:root {
    --main-font-family: 'Raleway', sans-serif;
    --main-light-weight: 400;
    --main-medium-weight: 500;
    --main-bold-weight: 600;
  }