@import "Assets/fonts.css";

$bgColor1: #1e3464;
$bgColor1Light: #385594;
$bgColor2: #2c8b7c;
$contBgColor: #f8f8fa;
$listBgColor: #f9f7f5;
$highlightBgColor: #e4e7f1;

:root {
  --main-font-family: 'Raleway', sans-serif;
  --main-light-weight: 400;
  --main-medium-weight: 500;
  --main-bold-weight: 600;
}
html { 
  font-size: 1em;
}
@media screen and (max-width: 25.5em) {
  html { font-size: 3.9vw; }
}
@media screen and (min-width: 67em) {
  html { font-size: 1.5vw; }
}
html, body { margin: 0; border: 0; padding: 0; }
body, select, input, button, textarea  {
  font-family: var(--main-font-family);
  font-weight: var(--main-medium-weight);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  font-size: 1em;
}
h1, h2, h3, h4, h5, h6, b {
  color: #444;
  font-weight: var(--main-bold-weight);
}
body {
  background: $bgColor1;
  padding: 0.7rem;
  overscroll-behavior: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
p, li, h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
  margin: 0 0 0.7em 0;
}
ol, ul {
  padding: 0 0 0 1.5em;
}
h2 { 
  font-size: 1.5em;
  border-bottom: 1px solid #ddd; 
}
h3 {
  font-size: 1.2em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.1em;
  font-weight: var(--main-light-weight);
}
select:focus, input:focus, textarea:focus, button:focus, a:focus {
  outline: none;
}
select, input {
  font-size: 1.2em;
}
select, input, textarea {
  padding: 0.3em 0.5em;
  border: 1px solid #ddd;
  border-radius: 0.3rem;
  background: #fff;
  font-weight: var(--main-light-weight);
  box-shadow: 0 0 0.3rem 0.05rem rgba(85,85,85,0.2);
  box-sizing: border-box;
}
.frm select, .frm input, .frm button, .frm textarea {
  margin: 0 1rem 1rem 0;
}
.frm input[type=checkbox] { margin-right: 0.5em; }
select:focus, input:focus, textarea:focus {
  border: 1px solid #888;
  transform: translateY(-0.05rem) translateX(-0.05rem);
  box-shadow: 0.05rem 0.05rem 0.3rem 0.05rem rgba(45,45,45,0.3);
}
select, button {
  appearance: none;
}
button {
  font-size: 1.1em;
  padding: 0.3em 0.7em 0.3em 0.4em;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  background: #fff;
  box-shadow: 0 0 0.3rem 0.05rem rgba(45,45,45,0.3);
  box-sizing: border-box;
  transition: 0.3s;
  white-space: nowrap;
  cursor: pointer;
  &:active {
    border: 1px solid #888;
    background: #eee;
    transform: translateY(0.05rem) translateX(0.05rem);
    box-shadow: none;
    border-color: #bbb;
    -webkit-tap-highlight-color: transparent;
    transition: none;
  }
}
a {
  color: #1374a1;
  text-decoration: none;
}
mark {
  background-color: transparent;
  color: #442480;
}
svg {
  font-size: 1.2em;
  vertical-align: -0.18em;
}
button svg, h2 svg {
  margin-right: 0.3em;
}
a:active svg {
  color: #222;
  background-color: #bbb;
}
:disabled {
  background-color: transparent;
  border-color: #ddd;
  box-shadow: none;
}

/********** Layout **********/

#main-warpper {
  max-width: 40rem;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}
.document-ready #main-warpper { 
  opacity: 1;
}
#fixed-background {
  position: fixed;
  top: 0; right: 0; bottom: -20%; left: 0;
  background: linear-gradient(to bottom, $bgColor1, #1f3965 3.5rem, $bgColor2 83%);
  z-index: -1;
}
#header-wrapper {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  top: 0; left: 0;
  padding: 0.7rem;
  z-index: 2;
}
#header-content-cover {
  position: fixed;
  width: 100%;
  top: 0; left: 0;
  height: 3.5rem;
  background: linear-gradient($bgColor1 1rem, unquote($bgColor1+'00') 3.5rem);
  z-index: 1;
}
#header {
  position: relative;
  box-sizing: border-box;
  max-width: 40rem;
  margin: 0 auto;
  border: 0;
  font-size: 1.8em;
  color: $contBgColor;
  background: linear-gradient(to right, $bgColor2, $bgColor1Light);
  transition: 0.3s;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  & > span:first-child {
    display: block;
    padding: 0.06em 0 0.06em 0;
    background: url("./Assets/icon.png") no-repeat 0.4rem 0.4rem / 2.5rem;
    font-weight: 700;
    text-shadow:
    -1px -1px 0 $bgColor1Light, 
    1px -1px 0 $bgColor1Light, 
    -1px  1px 0 $bgColor1Light, 
    1px  1px 0 $bgColor1Light;
    line-height: 3.1rem;
    text-align: center;
  }
  #working-days {
    position: absolute;
    margin: 0;
    background-color: $bgColor1Light;
    width: 1.3rem;
    padding: 0.06rem;
    top: 0.6rem; 
    left: 0.8rem;
    text-align: center;
    font-size: 0.9rem;
    line-height: 0.94rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
  }
  #working-days:first-line {
    margin: 0;
    font-size: 0.7rem;
    font-weight: 300;
  }
  &:active {
    transition: none;
    text-shadow: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 
      0 0 0 10rem rgba(0, 0, 0, 0.2) inset;
    -webkit-tap-highlight-color: transparent;
  }

}
#content {
  position: relative;
  margin: 3.9rem 0 0.6rem 0;
  background-color: $contBgColor;
  overflow: hidden;
  z-index: 0;
}
#footer-wrapper {
  box-sizing: border-box;
  width: 100%;
}
#fixed-nav-bar > #footer-wrapper {
  position: fixed;
  bottom: 0; left: 0;
  padding: 0 0.7rem 0.7rem 0.7rem;
  z-index: 2;
}
#fixed-nav-bar #footer-wrapper + #footer-margin { 
  margin-bottom: 3.6rem; 
}
#fixed-nav-bar > #footer-content-cover {
  position: fixed;
  width: 100%;
  bottom: 0; left: 0;
  height: 3rem;
  background: linear-gradient(unquote($bgColor2+'00'), $bgColor2 2rem);
  z-index: 1;
}
#footer {
  box-sizing: border-box;
  height: 3rem;
  max-width: 40rem;
  margin: 0 auto;
  border: 0;
  display: flex;
  background-color: $contBgColor;
  button {
    padding: 0.8rem 0.9rem 0.8rem 0.6rem;
    margin: 0;
    border: 0;
    border-radius: 0.5rem;
    background: $contBgColor;
    box-shadow: none;
    border-radius: 0;
    border-right: 1px solid #fff;
    transform: none;
    &:active:not(.disabled)  {
      background: #bbb;
      color: #fff;
    }
    &.disabled {
      color: #ddd;
      cursor: auto;
      pointer-events: none;
    }
    &:first-child {
      border-bottom-left-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
    }
    &:last-child {
      border: 0;
      border-bottom-right-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
  }
  .free-space {
    border-right: 1px solid #fff;
    flex: 1;
  }
}
#header, #content, #footer {
  border-radius: 0.5rem;
}
#content, #footer {
  box-shadow: 0 0 0.5rem 0.1rem rgba(45, 45, 45, 0.4);
}

/********** Main Styles **********/

.light { font-weight: var(--main-light-weight); }
.medium { font-weight: var(--main-medium-weight); }
.bold { font-weight: var(--main-bold-weight); }
.h2-btn {
  display: flex;
  h2 {
    flex: 1;
    white-space: nowrap;
  }
  button {
    margin: 0 0 0 1rem;
    white-space: nowrap;
  }
}
.btn-pnl {
  button {
    margin: 0.5rem 1rem 1rem 0;
  }
}
.fade-transition {
  background-color: $contBgColor;
}
.pad {
  padding: 1rem;
}
.v_pad {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.block-lrg, .block-mdm, .block-sml {
  display: inline-block;
}
.block-lrg {
  width: 18.5rem;
}
.block-mdm {
  width: 11rem;
  margin-bottom: 0.3em;
}
.block-sml {
  width: 10rem;
}

.student-list {
  width: 100%;
  font-size: 1.3em;
  font-weight: var(--main-light-weight);
  margin: 1rem 0 0 0;
  border-top: 1px solid #fff;
  background-color: $listBgColor;
  .item {
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: 0.3s;
    .title {
      transition: 0.3s;
      padding: 0.6em 0.6em;
      border-bottom: 1px solid #fff;
      white-space: nowrap;
    }
    &.active .title {
      background-color: $highlightBgColor;
      color: #666;
      transition: none;
    }
    .menu {
      z-index: 1;
      transform: translateY(-0.05em);
      padding: 0 0.4rem;
      position: absolute;
      background-color: #fff;
      box-shadow: 0 0 0.5rem 0.1rem rgba(45,45,45,0.4);
      border-radius: 0.5rem;
      white-space: nowrap;
      right: 0.3em;
      &.open {
        visibility: visible;
        transform: translateX(0);
        transition: transform 0.2s ease-out;
      }
      &.close {
        visibility: hidden;
        transform: translateX(12em);
        transition: transform 0.2s ease-in, visibility 0.2s;
      }
      a {
        display: inline-block;
        color: #555;
        border-radius: 0.5rem;
        padding: 0.3rem;
      }
      a:active {
        background-color: #bbb;
      }
      svg {
        font-size: 1.7em;
        vertical-align: middle;
      }
      .small-select {
        margin: 0.2em;
        padding: 0.15em 0 0.25em 0.4em;
        vertical-align: middle;
        width: 2.9em;
        box-shadow: none;
        font-weight: var(--main-light-weight);
        &:focus {
          transform: none;
        }
      }
    }
    .indicator {
      position: absolute;
      right: 0; top: 0;
      padding: 0.6em 0.4em;
      color: #c1d6d7;
      &:active {
        color: #1374a1;
      }
      svg {
        margin: 0;
      }
    }
    .indicator *, .title * {
      pointer-events: none;
    }
  }
}

table.lesson-list {
  width: 100%;
  border-spacing: 0;
  background-color: $listBgColor;
  border-bottom: 1px solid #fff;
  margin-bottom: 1rem;
  td, th {
    border: solid #fff;
    border-width: 1px 0 0 0;
    padding: 0.8em 0.5em 0.8em 0;
  }
  tbody {
    font-weight: var(--main-light-weight);
    tr {
      cursor: pointer;
      transition: 0.3s;
      &:active {
        background-color: $highlightBgColor;
        color: #666;
        transition: none;
        -webkit-tap-highlight-color: transparent;
      }
    }
  }
  thead th {
    font-weight: var(--main-medium-weight);
    background-color: #eee;
  }
  td:first-child, th:first-child {
    text-align: right;
    padding-left: 0.5em;
    font-weight: var(--main-medium-weight);
  }
  th:last-child {
    text-align: left;
  }
}


@media (hover: hover) {
  .student-list .item .title:hover {
    background-color: $highlightBgColor;
  }
  .student-list .menu a:hover {
    background-color: #eee;
  }
  table.lesson-list tbody tr:hover {
    background-color: $highlightBgColor;
    transition: none;
  }
  .student-list .item .indicator:hover {
    color: #1374a1;
  }
}

@keyframes changed-item {
  0% { background-color: $highlightBgColor; }
  100% { background-color: $listBgColor; }
}
.changed-item {
  animation: changed-item 3s ease-in;
}
.selected-item {
  background-color: #ebefed;
}

/********** Additional Styles **********/

.total-length {
  display: inline-flex;
  margin: 0 1rem 0.5rem 0;
  font-weight: var(--main-light-weight);
  text-align: center;
}
.total-length > .completed {
  margin-right: 1em;
}
.total-length > .remained {
  flex: 1;
}
.total-length .title {
  font-size: 0.8em;
}
.total-length .min2hrs-hours {
  color: #777;
  font-size: 1.8em;
}
.remained > .min2hrs-hours, .remained.min2hrs-hours {
  color: #009900;
  font-weight: var(--main-light-weight);
}
.remained > .min2hrs-hours.negative, .remained.min2hrs-hours.negative {
  color: #d15854;
}
.min2hrs-minutes:before {
  content: " ";
}
.min2hrs-minutes  {
  position: relative; 
  top: -0.6em; 
  left: -0.1em;
  font-size: 0.6em;
}

.confirm-dialog {
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.3);
  background: #fff;
  width: 30rem;
  max-width: 88%;
  text-align: right;
}
.confirm-dialog-msg {
  font-size: 1.3em;
  margin-bottom: 2rem;
  text-align: left;
}
.confirm-dialog-btn button {
  margin: 0 0 0 1rem;
  padding: 0.5rem 1rem;
  min-width: 6em;
}
.confirm-dialog-msg .block {
  display: inline-block;
  white-space: nowrap;
  width: 12rem;
}
.confirm-dialog-msg .block:nth-child(odd) { 
  color: #1374a1;
  width: 16rem;
}

.toast-notification {
  box-sizing: border-box;
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.4);
  background: #202124;
  width: 30rem;
  max-width: calc(100% - 1.4rem);
  margin: 0 auto 1rem auto;
}
.toast-notification, .toast-notification b {
  color: #fff;
}
.toast-notification-msg {
  flex: 1;
}
.toast-notification-btn button {
  color: #8ab4e6;
  background: #3d3f44;
  margin: 0 0 0 1rem;
  padding: 0.5rem 1rem;
}

.select-dialog {
  box-sizing: border-box;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.3);
  max-height: 96%;
  max-width: 96%;
  background: #fff;
  color: #000;
  font-size: 1.4rem;
  overflow-x: hidden;
  white-space: pre;
  ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
    li {
      border-top: 1px solid #ddd;
      margin: 0;
      padding: 0.7em 1em;
      &.selected{
        background-color: #eee;
      }
    }
    li:first-child {
      border-top: 0;
    }
    li:hover, li:active {
      color: #fff;
      background-color: #0078d7;
    }
  }
}